.rob-color-red{
color:#E51F6D;
}

.rob-color-black{
color:#18191a;
}

.rob-color-blue{
    color:#00F2F0;
}
.p-0{
    padding: 0 !important;
}
.pb-0{
    padding-bottom: 0 !important;
}
.pt-0{
    padding-top: 0 !important;
}
.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-left: 0 !important;
}